<p id="notice"><%= notice %></p>


<h1><strong>Recipes</strong></h1>
<br>
 
<% @recipes.each do |recipe| %>
        
  <h4><a href='/recipes/<%= recipe.id %>'><%= recipe.title %></a></h4>
    
  <% end %>
   

<%#= link_to 'New Recipe', new_recipe_path %>



