<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

    <% @recipes.each do |recipe| %>
        <h3><a href='/recipes/<%= recipe.id %>'><%= recipe.title %></a></h3>  
    <% end %>

    
   
<br>

<%= link_to 'New Recipe', new_recipe_path %>


