<p id="notice"><%= notice %></p>

<h1><strong>Recipes</strong></h1>
<br>
 
<% @recipes.each do |recipe| %>
        
  <h4><a href='/recipes/<%= recipe.id %>'><%= recipe.title %></a></h4>
    
        <!--<p>Description:<%#= recipe.description %></p>
        <p>Instructions:<%#= recipe.instructions %></p>-->
        <!--<p><%# recipe.ingredients.each do |ingredient| %>
          <ul>
            <li><%#= ingredient.name %> </li>
          </ul>
          <%# end %>


        </p>
          </div>
      </div>-->
  <% end %>
   

<%#= link_to 'New Recipe', new_recipe_path %>


