<!-- THEME -->
</head>
<link href='https://fonts.googleapis.com/css?family=Catamaran:400,600,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>



<!-- Gallery Section -->
<section id="gallery">
  <div class="container-fluid"> 
    <!-- Heading and Subheading -->
    <div class="row">
      <div class="col-lg-12 text-center">
       
          <h2 class="section-heading">Search <span class="orange-accent">Results</span></h2>
          <h3 class="section-subheading">So many to choose from!</h3>
     
      </div>
    </div>
    <!-- /.Heading and Subheading --> 
    <div class="border">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="mrgn30-btm"><%= image_tag ("border.svg"), class: "img-responsive center-block", size: ("177x26") %></p>
          </div>
        </div>
      </div>
    
    
    <!-- Gallery Filter Area -->
    <!-- <div class="row text-center">
      <div class="col-lg-12">
        <div class="gallery-filter-area">
          <ul class="gallery-filter" id="gallery-masonry-sort">
            <li class="active"><a href="#" data-target="*">All</a></li>
            <li><a href="#" data-target=".party">Party Food</a></li>
            <li><a href="#" data-target=".drinks">Drinks</a></li>
            <li><a href="#" data-target=".desserts">Desserts</a></li>
          </ul>
        </div>
      </div>
    </div> -->
    <!-- /.Gallery Filter Area --> 
    
    <!-- Gallery Items Area -->
    <div class="row">
      <div class="gallery-items-wrapper col-lg-12">
        <div class="gallery-items" id="gallery-masonry"> 
          <% @recipes.each do |recipe| %>
          <!-- Gallery Item 01 --> 
          <!-- Single Gallery-->
          <div class="single-item drinks "> 
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <%#= image_tag (recipe.photo_url), class: "gallery-item img-responsive", size: ("1200x800") %>
              <a href="/recipes/<%= recipe.id %>"><div class="kitch-img" style="background-image: url('<%= recipe.photo_url %>'); height: 15em; background-size: cover; background-position: center;"></div></a>
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
          </div>
          <!-- /.Single Gallery--> 
          <!-- /Gallery Item 01 --> 
          <% end %>
          <!-- Gallery Item 02 --> 
         
          <!-- /.Gallery Item 02 --> 
          
          
        
    
  </div>
  <!-- /.container-fluid --> 
</section>
<!-- /.Gallery Section --> 

      </div>
    </div>
  </div>
  <!-- /.container --> 
  
</section>
 

<!-- Plugin JavaScript --> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> 


</html>


