<div ng-app="app">


  <div ng-controller="ingredientCtrl" ng-init="setup(<%= current_member.id %>)">

    <div class="row">
      <div class="pantry-form-header">
        <div class="weeklyspecials-bg">
          <div class="fadeInDown wow">
            <h1 class="section-heading"><strong>Add An Ingredient To </strong><span class=
              "orange-accent"><strong>Your Pantry!</strong></span></h1>

              <table class="table-responsive">
                <tr>
                  <td>
                    <datalist id="ingredients">
                      <option ng-repeat="ingredient in autoCompleteIngredients">{{ ingredient.name }}</option>
                    </datalist>

                    <input ng-model="newIngredientId" list="ingredients" placeholder="Select Ingredient" ng-keyup="autoCompleteIngredientContent(newIngredientId)"> </input>
                  </td>
                  <td>
                    <div class="form">
                      <h3 ng-repeat="error in errors">{{ error }}</h3>
                      <input type="text" ng-model="newQuantity" placeholder="Enter Quantity">
                      <td>
                        <input type="text" ng-model="newUnits" placeholder="Enter Units">
                      </td>
                    </div>
                  </td>
                  <td>
                    <button ng-click="addPantryItem(newIngredientId, newQuantity, newUnits)" class="btn btn-info">Stock Your Pantry</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- </div> -->

        <!-- USER'S PANTRY -->

        <div class="row">
          <div class="col-md-3 col-md-offset-1 pantry-sides ">

            <div class="pantry-items">
              <h1><strong><%=current_member.first_name%>'s <span class="orange-accent">Pantry </span></strong></h1>
            </div>

            <div>
              <button ng-click="searchRecipesByPantry()" class="btn btn-info">Search by Pantry Items</button>
            </div>
            <div ng-repeat="pantry_item in pantry_items | filter:{name: nameFilter} | orderBy:orderAttribute:descending track by $index">
              <label class="checkbox" for="{{ pantry_item.name }}">
                <input ng-model="pantry_item.selected" type="checkbox" value="{{ pantry_item.ingredient_id }}">
              </label>
              <h4 ng-click="toggleVolumeVisible(pantry_item)">{{ pantry_item.name }}</h4>
              <div ng-if="pantry_item.volumeVisible">
                <h4>Amount: {{ pantry_item.quantity }} {{ pantry_item.units }}</h4>
                <br>
         <!--  <div class="form">
              <h3 ng-repeat="error in errors">{{ error }}</h3>
                  <h4>Quantity: <input type="text" ng-model="changeQuantity"></h4>
                  <h4>Units: <input type="text" ng-model="changeUnits"></h4>
                  <button ng-click="updatePantryItem(changeQuantity, changeUnits)">Update Pantry Item</button>
                </div> -->
                <div>
                  <button class="btn btn-warning" ng-click="deletePantryItem($index)">Delete</button>
                </div>

              </div>
            </div>
            
          </div>


          <!-- RECIPES -->


          <div class="col-md-6 col-md-offset-1 hideme" ng-class="{'pantry-sides': recipes}">


           <div class="pantry-items">
             <h1><strong><%=current_member.first_name%>'s <span class="orange-accent">Recipes </span></strong></h1>
           </div>

            <div class="row">
               <div ng-repeat="recipe in recipes" class="col-md-4">
                 <a ng-href="/recipes/{{ recipe.id }}" class="thumbnail"><img class="img-responsive" style="width:150px; height:150px;" src="{{ recipe.photo_url }}"/></a>
               </div>
           </div>
       </div>
     </div>


   </div> <!-- end of ng-controller -->
 </div> <!-- end of ng-app -->


