<div ng-app="app">


  <div ng-controller="ingredientCtrl" ng-init="setup(<%= current_member.id %>)">

    <div class="row">
      <div class="pantry-form-header">

      <h2>Add An Ingredient To Your Pantry!</h2>

        <table>
          <tr>
            <td>
              <datalist id="ingredients">
                <option ng-repeat="ingredient in autoCompleteIngredients">{{ ingredient.name }}</option>
              </datalist>

              <input ng-model="newIngredientId" list="ingredients" placeholder="Select Ingredient" ng-keyup="autoCompleteIngredientContent(newIngredientId)"> </input>
            </td>
            <td>
              <div class="form">
                <h3 ng-repeat="error in errors">{{ error }}</h3>
                <input type="text" ng-model="newQuantity" placeholder="Enter Quantity">
                <td>
                  <input type="text" ng-model="newUnits" placeholder="Enter Units">
                </td>
              </div>
            </td>
            <td>
              <button ng-click="addPantryItem(newIngredientId, newQuantity, newUnits)" class="btn btn-success">Stock Your Pantry</button>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 pantry-sides">

        <div>
          <h3><strong><%=current_member.first_name%>'s Pantry </strong></h3>
        </div>

        <div>
          <button ng-click="searchRecipesByPantry()" class="btn btn-success">Search by Pantry Items</button>
        </div>
        <div ng-repeat="pantry_item in pantry_items | filter:{name: nameFilter} | orderBy:orderAttribute:descending track by $index">
          <label class="checkbox" for="{{ pantry_item.name }}">
            <input ng-model="pantry_item.selected" type="checkbox" value="{{ pantry_item.ingredient_id }}">
          </label>
          <h4 ng-click="toggleVolumeVisible(pantry_item)">{{ pantry_item.name }}</h4>
          <div ng-if="pantry_item.volumeVisible">
            <h4>Amount: {{ pantry_item.quantity }} {{ pantry_item.units }}</h4>
            <br>
         <!--  <div class="form">
              <h3 ng-repeat="error in errors">{{ error }}</h3>
                  <h4>Quantity: <input type="text" ng-model="changeQuantity"></h4>
                  <h4>Units: <input type="text" ng-model="changeUnits"></h4>
                  <button ng-click="updatePantryItem(changeQuantity, changeUnits)">Update Pantry Item</button>
                </div> -->
                <div>
                  <button class="btn btn-warning" ng-click="deletePantryItem($index)">Delete</button>
                </div>

              </div>
            </div>
            
          </div>

          <div class="col-md-5 col-md-offset-1 hideme" ng-class="{'pantry-sides': recipes}">
          <h3><strong><%=current_member.first_name%>'s Recipes </strong></h3>
            <div ng-repeat="recipe in recipes">
              <h3><a ng-href="/recipes/{{ recipe.id }}">{{ recipe.title }}</a></h3>
            </div>
          </div>
        </div>

      </div> <!-- end of ng-controller -->
    </div> <!-- end of ng-app -->


