<p id="notice"><%= notice %></p>

<h1>Ingredients List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
       <!-- <td><%#= link_to 'Show', ingredient %></td> -->
        <td><%= link_to 'Add to Pantry', "/members/#{current_member.id}/edit" %></td>
        <!--<td><%#= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
  </tbody>
    <% end %>
</table>

<br>

<%#= link_to 'New Ingredient', new_ingredient_path %>
