<div ng-app="app">
  {{ 1 + 1 }}
  <div ng-controller="ingredientCtrl" ng-init="setup()">
  <h2>Add Pantry Items</h2>

  <div></div>

  <datalist id="ingredients">
      <option ng-repeat="ingredient in ingredients">{{ ingredient.name }}</option>
    </datalist>

  <input ng-model="ingredientFilter" list="ingredients">
  <button ng-click="setOrderBy('name')">Order By Name</button>
  
    <div ng-repeat="ingredient in ingredients | filter:{name: nameFilter} | orderBy:orderAttribute:descending track by $index">
      <h2 ng-click="toggleBioVisible(ingredient)">{{ ingredient.name }}</h2>
      <div ng-if="ingredient.bioVisible">
        <p>{{ ingredient.bio }}</p>
      <p ng-click="deletePantryItem($index)">Delete Pantry Item</p>
      </div>
    </div>

    <div class="form">
    <h3 ng-repeat="error in errors">{{ error }}</h3>
        <h4>Name: <input type="text" ng-model="newName"></h4>
        <h4>Quantity: <input type="text" ng-model="newQuantity"></h4>
        <h4>Units: <input type="text" ng-model="newUnits"></h4>
        <button ng-click="addPantryItem(newName, newQuantity, newUnit)">Add Pantry Item</button>
      </div>

  </div> <!-- end of ng-controller -->
</div> <!-- end of ng-app -->



<!-- OLD CODE  -->
<!--
<p id="notice"><%#= notice %></p>

<h1>Ingredients List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <#% @ingredients.each do |ingredient| %>
      <tr>
        <td><%#= ingredient.name %></td>
       # <td><%#= link_to 'Show', ingredient %></td> 
        <td><%#= link_to 'Add to Pantry', "/members/#{current_member.id}/edit" %></td>
        # <td><%#= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
    <%# end %>
</table>
<br>
-->
<%#= link_to 'New Ingredient', new_ingredient_path %>