<div ng-app="app">
  {{ 1 + 1 }}
  <div ng-controller="ingredientCtrl" ng-init="setup()">
  <h2>Add Pantry Items</h2>

  <div></div>

  <datalist id="ingredients">
      <option ng-repeat="ingredient in ingredients" value="{{ ingredient.name }}"><input type="hidden" value="{{ ingredient.id }}"></option>
  </datalist>

  <input ng-model="ingredientFilter" list="ingredients" placeholder="Select Ingredient"> <!--post request inside the filtering?-->
 <!--  <button ng-click="setOrderBy('name')">Order By Name</button> -->

  <div class="form">
    <h3 ng-repeat="error in errors">{{ error }}</h3>
        <h4><input type="hidden" ng-model="newIngredientId" value="1"></h4>
        <h4><input type="hidden" ng-model="newCurrentMemberId"></h4>
        <h4>Quantity: <input type="text" ng-model="newQuantity"></h4>
        <h4>Units: <input type="text" ng-model="newUnits"></h4>
        <button ng-click="addPantryItem(newIngredientId, newCurrentMemberId, newQuantity, newUnits)">Add Pantry Item</button>
  </div>
  
  <div>
    <h1><strong><%=current_member.username%>'s Pantry </strong></h1>
  </div>
    <div ng-repeat="pantry_item in pantry_items | filter:{name: nameFilter} | orderBy:orderAttribute:descending track by $index">
     <h2 ng-click="toggleVolumeVisible(pantry_item)">{{ pantry_item.name }}</h2>
      <div ng-if="pantry_item.volumeVisible">
        <p>Quanity: {{ pantry_item.quantity }}</p>
        <p>Unit: {{ pantry_item.units }}</p>
      <h2>{{ pantry_item.name }}</h2>
      <div>
      <button ng-click="deletePantryItem($index)">Delete</button>
      </div>
    </div>
    </div>

  </div> <!-- end of ng-controller -->
</div> <!-- end of ng-app -->

<!-- <table class="form" style="100%">
    <tr>
    <td><h3 ng-repeat="error in errors">{{ error }}</h3></td>
    <td><h4>Name: <input type="text" ng-model="newName"></h4></td>
    <td><h4>Style: <input type="text" ng-model="newStyle"></h4></td>
    <td><h4>Hop: <input type="text" ng-model="newHope"></h4></td>
    <td><h4>Malts: <input type="text" ng-model="newMalts"></h4></td>
    <td><h4>Alcohol: <input type="text" ng-model="newAlcohol"></h4></td>
    <td><button ng-click="addBeer(newName, newStyle, newHop, newMalts, newAlcohol)">Add Beer</button></td>
    </tr>
    </table> -->

<!-- OLD CODE  -->
<!--
<p id="notice"><%#= notice %></p>

<h1>Ingredients List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <#% @ingredients.each do |ingredient| %>
      <tr>
        <td><%#= ingredient.name %></td>
       # <td><%#= link_to 'Show', ingredient %></td> 
        <td><%#= link_to 'Add to Pantry', "/members/#{current_member.id}/edit" %></td>
        # <td><%#= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
    <%# end %>
</table>
<br>
-->
<%#= link_to 'New Ingredient', new_ingredient_path %>