<h1><%= current_member.username %>'s Pantry</h1>

<div>
  <% @current_member.pantry_items.each do |pantry_item| %>
    <h4><strong><%= pantry_item.ingredient.name %>:</strong> <%= pantry_item.quantity %> <%= pantry_item.units %></h4>
  <% end %>
</div


          