body {
  background-image: url("258199-12337433-dark_food_photography_cape_town_south_africa_jpg.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 70px;
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

body.members.index {
  background-image: url("vk-rees-food-photography-07.png");
  background-size: cover;
  background-attachment: fixed;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 28px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  /*&:visited {
    color: #666;
  }*/

  &:hover {
    color: #fff;
  }
}

th {
  padding-bottom: 10px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 18px;
    list-style: square;
  }
}

label {
  display: block;
}


.form1 {
  width: 100%;
  margin: 0 auto;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.hideme {
  opacity: 0;
}

.pantry-sides {
  margin-top: 60px;
  padding-left: 40px;
  padding-top: 10px;
  padding-botton: 20px;
  padding-right: 40px;
  border-radius: 7px;
  background-color: #86A2A3;
  opacity: 0.9;
  color: black;
  height: relative;
}

.pantry-form-header {
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 750px;
  border-radius: 7px;
  background-color: #86A2A3;
  opacity: 0.9;
  font-size: 40px;
  font-family: 'Amatic SC', cursive; 
}


.recipe-image {
  margin-top: 30px;
  max-width: 450px;
  border-radius: 7px;
  opacity: none;

}
