<!-- Header -->
<header id="homev2">
  <div class="container"> 
    <!-- Intro Section: Logo, Heading & Address -->
    
    <div class="intro-text">
      <div class="fadeInDown wow">
        <div class="intro-lead-in"><img alt="Full Spoon" class=
                "img-responsive center-block" height="123" src=
                "img/full-spoon-logo.svg" width="682">
          <p class="mrgn40-btm"><img alt="Full Spoon" src=
                "img/bits/cake.svg"> </p>
        </div>
        <div class="intro-heading"> Muffins & Cakes Café </div>
      </div>
      <p class="address  fadeInUp wow">138 Princes St<br>
        Edinburgh, EH6 KM, Scotland<br>
        0131 588 6214</p>
    </div>
    <!-- /.Intro Section: Logo, Heading & Address --> 
  </div>
  <!-- /.container --> 
</header>
<!-- /Header --> 

<!-- About Section -->
<section id="about">
  <div class="container"> 
    <!-- Heading and Subheading -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="fadeInDown wow">
          <h2 class="section-heading">About <span class=
                    "orange-accent">us</span></h2>
          <h3 class="section-subheading">We are a small bakery and we
            craft delicious desserts.</h3>
        </div>
      </div>
    </div>
    <!-- /.Heading and Subheading --> 
    
    <!-- Border -->
    <div class="bounceIn wow">
      <div class="border">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="mrgn30-btm"><img alt="border" class="img-responsive center-block" height="26" src="img/border.svg" width="177"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Border --> 
    
    <!-- Description -->
    <div class="fadeInUp wow">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p>It all started a few years ago when Julie gathered all
            her friends for her birthday party. Julie thought that it
            will be great to bake chocolate chip muffins and carrot
            cupcakes with summer tasting sangria.</p>
          <p class="mrgn20-top">The birthday party was a huge success
            and all her friends loved the delicious desserts she
            prepared. A few months later Julie met Matt who shared her
            love for desserts and they decided to open a small bakery
            shop in the heart of Edinburgh, the city they have chosen
            to live.</p>
          <p class="mrgn20-top">Now, <strong>Full Spoon</strong> is a
            favourite place for people with a sweet tooth and they
            gather every day for a tasty dessert and coffee. The
            products used are all natural and <strong>Full
            Spoon</strong> smells like Christmas every day. Come for a
            bite whenever you need something sweet.</p>
        </div>
      </div>
    </div>
    <!-- /.Description --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.About Section --> 

<!-- Food Menu Section -->
<section class="bg-darkest-gray" id="weeklyspecials">
  <div class="container"> 
    <!-- Heading and Subheading -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="fadeInDown wow">
          <h2 class="section-heading">Weekly <span class=
                    "orange-accent">Specials</span></h2>
          <h3 class="section-subheading">Come & try our daily
            specials.</h3>
        </div>
      </div>
    </div>
    <!-- /.Heading and Subheading --> 
    
    <!-- Border -->
    <div class="bounceIn wow">
      <div class="border">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="mrgn30-btm"><img alt="border" class="img-responsive center-block" height="26" src="img/border-white.svg" width="177"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Border --> 
    
    <!-- Sample Weekly Menu -->
    <div class="fadeInUp wow">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <div class="weeklyspecials-bg">
            <p><strong class="title orange-accent">Muffin Monday</strong><br>
              Grab a chocolate or a walnut honey muffin to start your day.<br>
              <br>
              <strong class="title orange-accent">Carrot & Cheese Tuesday</strong><br>
              A slice of freshly baked carrot cake will give a great boost. Yellow cheese muffins all day long.<br>
              <br>
              <strong class="title orange-accent">Forest Fruit Wednesday</strong><br>
              A blueberry muffin with cinnamon flavoured late sounds great after a long day.<br>
              <br>
              <strong class="title orange-accent">Minty Thursday</strong><br>
              Ginger and mint cupcakes with mint flavoured lemonade will freshen you up.<br>
              <br>
              <strong class="title orange-accent">Irish Friday</strong><br>
              Celebrate the end of the working week with a rum flavoured muffins and irish cream cake.<br>
              <br>
              <strong class="title orange-accent">Chocolate Saturday & Sunday</strong><br>
              For the weekend you came buy for a chocolate break. We have milk chocolate muffins, dark chocolate strawberry
              cupcakes and chocolate late and cappuccino.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Sample Weekly Menu --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.Food Menu Section --> 

<!-- Menu Section -->
<section id="menuv2">
  <div class="container"> 
    <!-- Heading and Subheading -->
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="fadeInDown wow">
          <h2 class="section-heading">Our <span class="orange-accent">Menu</span></h2>
          <h3 class="section-subheading">We can make your party really delicious.</h3>
        </div>
      </div>
    </div>
    <!-- /.Heading and Subheading --> 
    <!-- Border -->
    <div class="bounceIn wow">
      <div class="border">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="mrgn30-btm"><img alt="border" class="img-responsive center-block" height="26" src="img/border-white.svg" width="177"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Border --> 
    
    <!-- Description -->
    <div class="fadeInUp wow">
      <div class="row no-gutter">
        <div class="col-lg-12 mrgn20-btm"> 
          
          <!-- Menu Content -->
          <div class="row">
            <div class="col-lg-12 "> 
              <!-- Panel Group -->
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="row"> 
                  <!-- Menu 01 -->
                  <div class="col-md-6 no-padding">
                    <div class="panel panel-default text-center">
                      <div class="panel-heading menu01" role="tab" id="headingOne">
                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> Coffee &amp; Tea </a> </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body"> 
                          <!-- Menu Details Follow Here -->
                          
                          <div class="row">
                            <div class="col-md-12 text-left">
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                            </div>
                          </div>
                          <!-- /.Menu Details End Here --> 
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.Menu 01 --> 
                  
                  <!-- Menu 02 -->
                  <div class="col-md-6 no-padding">
                    <div class="panel panel-default text-center">
                      <div class="panel-heading menu02" role="tab" id="headingTwo">
                        <h3 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Cocktails & Shots </a> </h3>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body"> 
                          <!-- Menu Details Follow Here -->
                          
                          <div class="row">
                            <div class="col-md-12 text-left">
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                            </div>
                          </div>
                          <!-- /.Menu Details End Here --> 
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.Menu 02 --> 
                </div>
                <div class="row"> 
                  
                  <!-- Menu 03 -->
                  <div class="col-md-6 no-padding">
                    <div class="panel panel-default text-center">
                      <div class="panel-heading menu03" role="tab" id="headingThree">
                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Cupcakes & Muffins </a> </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body"> 
                          <!-- Menu Details Follow Here -->
                          
                          <div class="row">
                            <div class="col-md-12 text-left">
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                            </div>
                          </div>
                          <!-- /.Menu Details End Here --> 
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.Menu 03 --> 
                  
                  <!-- Menu 04 -->
                  <div class="col-md-6 no-padding">
                    <div class="panel panel-default text-center">
                      <div class="panel-heading menu04" role="tab" id="headingFour">
                        <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> Salads &amp; Drinks </a> </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body"> 
                          <!-- Menu Details Follow Here -->
                          
                          <div class="row">
                            <div class="col-md-12 text-left">
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                            </div>
                          </div>
                          <!-- /.Menu Details End Here --> 
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.Menu 04 --> 
                </div>
                <div class="row"> 
                  
                  <!-- Menu 05 -->
                  <div class="col-md-6 no-padding">
                    <div class="panel panel-default text-center">
                      <div class="panel-heading menu05" role="tab" id="headingFive">
                        <h3 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> Party Food </a> </h3>
                      </div>
                      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body"> 
                          <!-- Menu Details Follow Here -->
                          
                          <div class="row">
                            <div class="col-md-12 text-left">
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                            </div>
                          </div>
                          <!-- /.Menu Details End Here --> 
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.Menu 05 --> 
                  
                  <!-- Menu 06 -->
                  <div class="col-md-6 no-padding">
                    <div class="panel panel-default text-center">
                      <div class="panel-heading menu06" role="tab" id="headingSix">
                        <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> Specialty Food </a> </h4>
                      </div>
                      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body"> 
                          <!-- Menu Details Follow Here -->
                          
                          <div class="row">
                            <div class="col-md-12 text-left">
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                              <h3>Lorem Ipsum <span class="dark-accent">4.95$</span></h3>
                              <p class="text-muted">Labore pertinax et eos, mei dicat scaevola ei. Ei cum noster tamquam, eu tation tincidunt dissentiunt vel, ad nam scripta constituto.</p>
                            </div>
                          </div>
                          <!-- /.Menu Details End Here --> 
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.Menu 06 --> 
                </div>
              </div>
            </div>
            <!-- /.Panel Group --> 
          </div>
        </div>
        <!-- Careers Content --> 
        
      </div>
    </div>
  </div>
  </div>
  <!-- /.container --> 
</section>
<!-- /.Menu Section --> 

<!-- Gallery Section -->
<section id="gallery">
  <div class="container-fluid"> 
    <!-- Heading and Subheading -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="fadeInDown wow">
          <h2 class="section-heading">Our <span class="orange-accent">Gallery</span></h2>
          <h3 class="section-subheading">Look what we can prepare.</h3>
        </div>
      </div>
    </div>
    <!-- /.Heading and Subheading --> 
    
    <!-- Border -->
    <div class="bounceIn wow">
      <div class="border">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="mrgn30-btm"><img alt="border" class="img-responsive center-block" height="26" src="img/border.svg" width="177"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Border --> 
    
    <!-- Gallery Filter Area -->
    <div class="bounceIn wow">
    <div class="row text-center">
      <div class="col-lg-12">
        <div class="gallery-filter-area">
          <ul class="gallery-filter" id="gallery-masonry-sort">
            <li class="active"><a href="#" data-target="*">All</a></li>
            <li><a href="#" data-target=".party">Party Food</a></li>
            <li><a href="#" data-target=".drinks">Drinks</a></li>
            <li><a href="#" data-target=".desserts">Desserts</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <!-- /.Gallery Filter Area --> 
    
    <!-- Gallery Items Area -->
    <div class="bounceInDown wow">
    <div class="row">
      <div class="gallery-items-wrapper col-lg-12">
        <div class="gallery-items" id="gallery-masonry"> 
          
          <!-- Gallery Item 01 --> 
          <!-- Single Gallery-->
          <div class="single-item drinks "> 
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <a href="img/gallery/coffee-tea-02.jpg" class="gallery-item"> <img src="img/gallery/coffee-tea-02.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
          </div>
          <!-- /.Single Gallery--> 
          <!-- /Gallery Item 01 --> 
          
          <!-- Gallery Item 02 --> 
          <!-- Single Gallery-->
          <div class="single-item desserts"> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              
              <!-- Gallery Link --> 
              <a href="img/gallery/desert-01.jpg" class="gallery-item"> <img src="img/gallery/desert-01.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
              
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          <!-- /.Gallery Item 02 --> 
          
          <!-- Gallery Item 03 --> 
          
          <!-- Single Gallery-->
          <div class="single-item desserts "> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <a href="img/gallery/desert-04.jpg" class="gallery-item"> <img src="img/gallery/desert-04.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          
          <!-- /.Gallery Item 03 --> 
          
          <!-- Gallery Item 04 --> 
          
          <!-- Single Gallery-->
          <div class="single-item drinks "> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> <a href="img/gallery/specialty-drinks-03.jpg" class="gallery-item"> <img src="img/gallery/specialty-drinks-03.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          <!-- /.Gallery Item 04 --> 
          
          <!-- Gallery Item 05 --> 
          <!-- Single Gallery-->
          <div class="single-item desserts "> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <a href="img/gallery/desert-06.jpg" class="gallery-item"> <img src="img/gallery/desert-06.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          <!-- /.Gallery Item 05 --> 
          
          <!-- Gallery Item 06 --> 
          <!-- Single Gallery-->
          <div class="single-item party"> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <a href="img/gallery/party-food-01.jpg" class="gallery-item"> <img src="img/gallery/party-food-01.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          <!-- /.Gallery Item 06 --> 
          
          <!-- Gallery Item 07 --> 
          <!-- Single Gallery-->
          <div class="single-item drinks"> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <a href="img/gallery/specialty-drinks-05.jpg" class="gallery-item"> <img src="img/gallery/specialty-drinks-05.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          <!-- /.Gallery Item 07 --> 
          
          <!-- Gallery Item 08 --> 
          <!-- Single Gallery-->
          <div class="single-item party"> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <a href="img/gallery/party-food-05.jpg" class="gallery-item"> <img src="img/gallery/party-food-05.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          <!-- /.Gallery Item 08 --> 
          
          <!-- Gallery Item 09* --> 
          <!-- Single Gallery-->
          <div class="single-item dessert"> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <a href="img/gallery/desert-02.jpg" class="gallery-item"> <img src="img/gallery/desert-02.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          <!-- /.Gallery Item 09 --> 
          
          <!-- Gallery Item 10 --> 
          <!-- Single Gallery-->
          <div class="single-item party"> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <a href="img/gallery/party-food-02.jpg" class="gallery-item"> <img src="img/gallery/party-food-02.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          <!-- /.Gallery Item 10 --> 
          
          <!-- Gallery Item 11 --> 
          <!-- Single Gallery-->
          <div class="single-item party"> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <a href="img/gallery/party-food-04.jpg" class="gallery-item"> <img src="img/gallery/party-food-04.jpg" class="img-responsive" width="1200" height="800"> </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          <!-- /.Gallery Item 11 --> 
          
          <!-- Gallery Item 12 --> 
          <!-- Single Gallery-->
          <div class="single-item drinks"> 
            
            <!-- Gallery Image -->
            <figure class="gallery-image"> 
              <!-- Gallery Link --> 
              <a href="img/gallery/coffee-tea-02.jpg" class="gallery-item"> 
              <%= image_tag "coffee-tea-02.jpg", class: "img-responsive", width: "1200", height: "800" %>
          	  </a> 
              <!-- /.Gallery Link --> 
            </figure>
            <!-- /.Gallery Image --> 
            
          </div>
          <!-- /.Single Gallery--> 
          <!-- /.Gallery Item 12 --> 
          
        </div>
      </div>
    </div>
    <!-- /.Gallery Items Area --> 
    </div>
  </div>
  <!-- /.container-fluid --> 
</section>
<!-- /.Gallery Section --> 

<!-- Events Section -->
<section id="events">
  <div class="container"> 
    
    <!-- Heading and Subheading -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="fadeInDown wow">
          <h2 class="section-heading">Our <span class="dark-accent">Events</span></h2>
          <h3 class="section-subheading">Come and enjoy local musicians and artists.</h3>
        </div>
      </div>
    </div>
    <!-- /.Heading and Subheading --> 
    
    <!-- Border -->
    <div class="bounceIn wow">
      <div class="border">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="mrgn30-btm"><img alt="border" class="img-responsive center-block" height="26" src="img/border.svg" width="177"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Border --> 
    
    <!-- Description -->
    <div class="fadeInUp wow">
      <div class="row">
        <div class="col-lg-12">
          <p class="mrgn20-btm">We organise live music evenings and
            weekend exhibitions every week. Every Friday you can enjoy
            some fresh music from the local talents. During the
            weekends we held small exhibitions to show the talent of
            local painters, photographers or everyone who is creative
            and wants to show their art. Stay in touch on Twitter and
            Facebook.</p>
        </div>
      </div>
    </div>
    <!-- /.Description --> 
    
    <!-- Events -->
    <div class="row"> 
      <!-- Event 01 -->
      
      <div class="col-sm-6 text-center">
        <div class=" bounceIn wow"> <img alt="Joe Stuart at Full Spoon Cafe" class=
                    "img-responsive center-block" height="600" src=
                    "img/events/event-01.jpg" width="800"> </div>
        <div class="fadeInUp wow">
          <p class="mrgn20-top text-left">Joe Stuart returns to Full
            Spoon Cafe this Friday to present his new album. Tickets at
            the door (£12.5). Show starts at 21.30h. Come early to try
            the new cocktails.</p>
          <p class="text-left mrgn30-top-btm"><a class="btn btn-lg btn-outline" href="https://www.facebook.com/designify.me">RSVP Now</a> </p>
        </div>
      </div>
      <!-- /.Event 01 --> 
      
      <!-- Event 02 -->
      <div class="col-sm-6 text-center">
        <div class=" bounceIn wow"> <img alt=
                    "Splash Graffiti Studio exhibit latest works at Full Spoon Cafe"
                    class="img-responsive center-block" height="600" src=
                    "img/events/event-02.jpg" width="800"> </div>
        <div class="fadeInUp wow">
          <p class="mrgn20-top text-left">The guys from Splash
            Graffiti Studio decided to show us their new projects. Come
            for a nibble, a drink and some great art. This weekend
            only.</p>
          <p class="text-left mrgn30-top-btm"><a class="btn btn-lg btn-outline" href="https://www.facebook.com/designify.me">RSVP Now</a> </p>
        </div>
      </div>
      <!-- /.Event 02 --> 
    </div>
    <!-- /.Events --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.Events Section --> 

<!-- Team Section -->
<section class="bg-darkest-gray" id="team">
  <div class="container"> 
    
    <!-- Heading and Subheading -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="fadeInDown wow">
          <h2 class="section-heading">Our <span class=
                    "orange-accent">Team</span></h2>
          <h3 class="section-subheading">We are a small team of
            people who love good food, music, art and parties.</h3>
        </div>
      </div>
    </div>
    <!-- /.Heading and Subheading --> 
    
    <!-- Border -->
    <div class="bounceIn wow">
      <div class="border">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="mrgn30-btm"><img alt="border" class="img-responsive center-block" height="26" src="img/border-white.svg" width="177"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Border --> 
    
    <!-- The Team -->
    <div class="row"> 
      <!-- Team Member 01 -->
      
      <div class="col-sm-3">
        <div class=" bounceIn wow">
          <div class="team-member"> <img alt="Julie" class="img-responsive img-thumb" src="img/team/julie.jpg">
            <h3>Julie</h3>
            <p>Founder & Master Baker</p>
          </div>
        </div>
      </div>
      <!-- /.Team Member 01 --> 
      
      <!-- Team Member 02 -->
      <div class="col-sm-3">
        <div class=" bounceIn wow">
          <div class="team-member"> <img alt="Matt" class="img-responsive img-thumb" src="img/team/matt.jpg">
            <h3>Matt</h3>
            <p>Founder & Drinks Master</p>
          </div>
        </div>
      </div>
      <!-- /.Team Member 02 --> 
      
      <!-- Team Member 03 -->
      <div class="col-sm-3">
        <div class=" bounceIn wow">
          <div class="team-member"> <img alt="Paul" class="img-responsive img-thumb" src="img/team/paul.jpg">
            <h3>Paul</h3>
            <p>Chef, Baker & Artist</p>
          </div>
        </div>
      </div>
      <!-- /.Team Member 03 --> 
      
      <!-- Team Member 04 -->
      <div class="col-sm-3">
        <div class=" bounceIn wow">
          <div class="team-member"> <img alt="Andy" class="img-responsive img-thumb" src="img/team/andy.jpg">
            <h3>Andy</h3>
            <p>Event and Party Planner</p>
          </div>
        </div>
      </div>
      <!-- /.Team Member 04 --> 
    </div>
    <!--/. The Team --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.Team Section --> 

<!-- Testimonials Section -->

<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center"> 
        <!-- Owl Carousel -->
        <div id="owl-testimonials" class="owl-carousel fadeIn wow"> 
          
          <!-- Testimonial 01 -->
          <div class="item">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                <h2>Jason's Birthday Party</h2>
                <p  class="mrgn30-top-btm">Our son's 16<sup>th</sup> party was a huge success because of all the guys from Full Spoon. It is very difficult to please a crows of teenagers but somehow they managed to do it. Thanks!!!</p>
                <p class="orange-accent">Sheena and Mark from Inverness</p>
              </div>
            </div>
          </div>
          
          <!-- /.Testimonial 01 --> 
          
          <!-- Testimonial 02 -->
          <div class="item">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                <h2>Beautiful Engagement Reception</h2>
                <p  class="mrgn30-top-btm">We chose Full Spoon to host our engagement party which was an overwhelming success. All of our relatives and friends were impressed with everything they did. Music was fantastic. The food was more than delicious. Drinks were the outmost success. We are thinking of asking them to host our wedding.</p>
                <p class="orange-accent">John and Adina from Glasgow</p>
              </div>
            </div>
          </div>
          <!-- /.Testimonial 02 --> 
          
          <!-- Testimonial 03 -->
          <div class="item">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                <h2>Ben's Baby Shower</h2>
                <p>We love you guys! The Baby Shower was magical. Parents loved it. Children loved it. We are your friends and clients forever! </p>
                <p class="orange-accent">Bernie and Jenny from Manchester</p>
              </div>
            </div>
          </div>
          <!-- /.Testimonial 03 --> 
          
        </div>
        <!-- /.Owl Carousel --> 
      </div>
    </div>
  </div>
  <!-- /.container --> 
  
</section>
<!-- /.Testimonials Section --> 

<!-- Call-To-Action Section -->
<section id="bookatable">
  <div id="cta">
    <div class="container"> 
      <!-- Call-To-Action Content Area -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h3 class="text-uppercase fadeIn wow">Wanna come to taste some delicious food ?</h3>
          <p class="fadeIn wow"><a data-toggle="modal" href="#BookTable" class="btn btn-contact">Book A Table</a></p>
        </div>
      </div>
      <!-- /.Call-To-Action Content Area --> 
    </div>
  </div>
</section>
<!-- /.Call-To-Action Section --> 

<!-- Contact Section -->

<section id="contact">
  <div class="container"> 
    <!-- Contact Heading, Location & Social Connections -->
    
    <div class="row">
      <div class="col-lg-12 text-center mrgn20-btm">
        <div class="fadeInDown wow">
          <h2 class="section-heading">Contact <span class=
                    "orange-accent">Us</span></h2>
          <p><img alt="Contact Us" class=
                    "img-responsive center-block" src=
                    "img/bits/fork-knife.svg"> </p>
          <p class="text-uppercase mrgn20-btm">138 Princes St<br>
            Edinburgh, EH2 KL, Scotland<br>
            0131 588 6214</p>
          <ul class="list-inline social-buttons">
            <li> <a class="fa fa-twitter" href="https://www.facebook.com/designify.me"></a> </li>
            <li> <a class="fa fa-facebook" href="https://www.facebook.com/designify.me"></a> </li>
            <li> <a class="fa fa-linkedin" href="https://www.facebook.com/designify.me"></a> </li>
            <li> <a class="fa fa-google-plus" href="https://www.facebook.com/designify.me"></a> </li>
            <li> <a class="fa fa-pinterest-p" href="https://www.facebook.com/designify.me"></a> </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.Contact Heading, Location & Social Connections --> 
  </div>
  <!-- /.container --> 
  
  <!-- Location Map with an Iframe-->
  <div id="iframe">
    <div class="container-fluid">
      <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" height="300" src=
                    "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2233.8564684413027!2d-3.1978754000000005!3d55.951859600000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c790c6f4d2c5%3A0x8066da2b87c7d686!2zMTM4IFByaW5jZXMgU3QsIEVkaW5idXJnaCwgQ2l0eSBvZiBFZGluYnVyZ2ggRUgyLCDQktC10LvQuNC60L7QsdGA0LjRgtCw0L3QuNGP!5e0!3m2!1sbg!2sbg!4v1435599655618"
                    style="border:0" width="100%"></iframe>
        </div>
      </div>
    </div>
    <!-- /.container-fluid --> 
  </div>
  <!-- /.Location Map with an Iframe -->
  
  <div class="container"> 
    
    <!-- Contact Heading -->
    <div class="row">
      <div class="col-lg-12 mrgn20-top text-center">
        <div class="fadeInDown wow">
          <h2 class="section-heading">Send us a <span class=
                    "orange-accent">Message</span></h2>
          <h3 class="section-subheading">Do you have any questions or
            you just want to reserve a table? Send us a message and we
            will answer asap.</h3>
        </div>
      </div>
    </div>
    <!-- /.Contact Heading --> 
    
    <!-- Border -->
    <div class="bounceIn wow">
      <div class="border">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="mrgn30-btm"><img alt="border" class="img-responsive center-block" height="26" src="img/border.svg" width="177"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.Border --> 
    
    <!-- Contact Form -->
    <div class="fadeInUp wow">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control"
                            data-validation-required-message=
                            "Please enter your name." id="name" placeholder=
                            "Your Name *" required type="text">
              <p class="help-block text-danger"> </p>
            </div>
            <div class="form-group">
              <input class="form-control"
                            data-validation-required-message=
                            "Please enter your email address." id="email"
                            placeholder="Your Email *" required type=
                            "email">
              <p class="help-block text-danger"> </p>
            </div>
            <div class="form-group">
              <input class="form-control"
                            data-validation-required-message=
                            "Please enter your phone number." id="phone"
                            placeholder="Your Phone *" required type="tel">
              <p class="help-block text-danger"> </p>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option> How we can help you? </option>
                <option> I would like a sample menu meeting </option>
                <option> Please, organize my event </option>
                <option> Reserve a table </option>
              </select>
              <p class="help-block text-danger"> </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea class="form-control"
                            data-validation-required-message=
                            "Please enter a message." id="message" name=
                            "message" placeholder=
                            "Tell us a little bit of your event or evening with us *"
                            required="">
</textarea>
              <p class="help-block text-danger"> </p>
            </div>
          </div>
          <div class="clearfix"> </div>
          <div class="col-lg-12 text-left">
            <div id="success"> </div>
            <button class="btn btn-contact" type="submit">Send
            Message</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /Contact Form --> 
  </div>
  <!-- /.container --> 
</section>
<!-- /.Contact Section --> 