<h3>Welcome to KitchAssist!</h3>

<div>	
<%= form_tag '/recipes', method: :get, class: "navbar-form navbar-right" do %>
  <div class="form-group">
    <p><%= text_field_tag :search_term, nil, class: "form-control", placeholder: "Search Recipes" %></p>
  </div>
<p><%= submit_tag "Search", class: "btn btn-default" %></p>
<% end %>
</div>

