  <div class="search" style="position : fixed;">

    <%= form_tag '/recipes', method: :get do %>
    <div class="form-inline">
      <div class="form1">
        <%= text_field_tag :search_term, nil, class: "form-control", placeholder: "Search Recipes" %>
        <%= submit_tag "Search", class: "btn btn-success" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

  
  


